:root {
    // --input-border-color: #ddd;
    // --input-background-color: #f6f8fb;
    // // --input-background-color-disabled: #f6f8fb;
    // --input-text-placeholder-color: #999;

    // // custom variables
    // --e-input-background: #fff;
    // --e-border-color: #ddd;
    // --e-input-background-disabled: #f6f8fb;
    // --e-text-color: #333;

    --input-bg-color: #fff;
    --input-br-color: #e5e7eb;
}

[data-bs-theme="dark"] {
    --input-bg-color: #151f2c;
    --input-br-color: #2e3c51;

    // --input-border-color: #344053;
    // --input-background-color: #151f2c;
    // --input-background-color-disabled: #131c2a;
    // --input-text-placeholder-color: #999;

    // // dark mode custom variables
    // --e-input-background: #151f2c;
    // --e-border-color: #344053;
    // --e-input-background-disabled: #131c2a;
    // --e-text-color: #f5f5f5;
}