@use "./variables" as *;

.date {
    &.disabled {
        pointer-events: none;

        .input-group div {
            border-color: var(--input-br-color);
            opacity: .5;
        }
    }

    .input-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.75rem;
        padding-right: 0;
        background-color: var(--input-bg-color);
        border-radius: 6px;
        border: 1px solid var(--input-br-color);
        height: 36px;
        user-select: none;

        div {
            display: flex;
            align-items: center;
            position: relative;
            bottom: 1px;

            span {
                cursor: pointer;
                transition: .2s;

                &.blur {
                    opacity: .5;
                }

                &.focused {}
            }
        }

        .controls {
            span {
                padding: .45rem .75rem;
                cursor: pointer;

                &:not(:first-child) {
                    border-left: 1px solid var(--input-br-color);
                }

                &:hover {
                    opacity: 0.7;
                }

                &:active {
                    opacity: 1;
                }
            }
        }
    }
}