@use "./variables" as *;

.textarea {

    textarea {
        background-color: var(--input-bg-color) !important;
        border-color: var(--input-br-color);
        scrollbar-width: thin;
    }

    &.disabled {
        pointer-events: none;

        textarea,
        .suffix {
            opacity: .5;
        }
    }

    .suffix {
        position: absolute;
        right: 5px;
        top: 0;

        span.tooltip {
            position: absolute;
            top: -25px;
            padding: 5px 10px;
            background: var(--tooltip-background);
            color: white;
            border-radius: 4px;
            pointer-events: none;
            transition: .2s ease-in-out;
            opacity: 0;
            font-size: 13px !important;
            z-index: 10;
            text-wrap: nowrap;

            // arrow
            &::after {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%) rotate(180deg);
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid var(--tooltip-background);
            }
        }

        span.suffix-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            padding: 0 7px;
            padding-bottom: 5px;
            cursor: pointer;
            text-wrap: nowrap;
            user-select: none;

            span {
                font-size: 12.5px;
                letter-spacing: .5px;
            }

            &.disabled {
                pointer-events: none;
                opacity: .6;
            }

            i {
                opacity: .6;
            }

            &:hover {
                i {
                    opacity: 1;
                }

                span.tooltip {
                    opacity: 1;
                    top: -35px;
                }
            }

            &:active {
                i {
                    opacity: .6;
                }
            }
        }
    }

    .input-icon-addon {
        align-items: unset !important;
        top: 9px
    }
}